@charset "UTF-8";

*, *:before, *:after {
	/*To keep box within rows even with padding*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper{
	/*used to center the website*/
  max-width:960px;
  margin: 0 auto;
  background-color: white;
  background:rgba(255,255,255,0.7);
  
}

.grid {
	/*used to change things inside of the grid*/
	clear: both;
  
}

.grid:after {
  /* This is making the grid expand to contain the floated columns*/
  content: "";
  display: table;
  clear: both;
}


[class*='column-'] {
  /* This is the rule that is defining all of the properties of the columns, it selects everything with a class name that contains 'column-' */
  float: left;
  padding-right: 0px;
}

[class*='column-']:last-of-type {
  /* This selects the last column and tells it not to add padding on the right */
  padding-right: 0;
}

body {
	margin: 0;
	background-image:url(../images/website_background.jpg);
	background-repeat: repeat
}

h1, h2, p {
	margin-left: 15px;
	color: #3e1d12;
}

h1 {
	font-family: 'Crete Round', serif;
	font-size: 40px;
	font-weight: 100;
	color: #2c5f5b;
	text-align: center;
}

h2 {
	font-family: 'Crete Round', serif;
	font-size: 24px;
	font-style: italic;
	color: #DDC069;
	font-weight: 100;
}

img {
	width:100%;
}

.hero {
  width:100%;
  padding-top: 60px;
  height: 500px; background:url(../images/hero-image.jpg) no-repeat;
  background-size:100%;
  background-position:center;
  
}

.hero img {
	width: 250px;
	margin-top: 150px;
}
 
nav {
  	overflow: auto;
  	position: fixed;
	background: #2c5f5b;
  	width: 100%;
	margin: 0 auto;
	padding-top:20px;
	padding-bottom:20px;
  	z-index: 1;
}

nav ul {
	margin: 0 auto;
}

nav li {
	display: inline;
	list-style: none;
	float: left;
	padding-left: 20px;
	margin: 0 auto;
}

nav a {
	color: white;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.home {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #2c5f5b;
	opacity: .7;
}

.home p {
	font-family: 'Open-sans', sans-serif;
	font-weight: 600;
	color: white;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
}

.recognition p {
	font-size: 14px;
	color: #DDC069;
}

.products {
	padding-top: 30px;
}

.products p {
	font-family: 'Open-sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	padding-left: 0px;
	color: #3e1d12;
}

.products img {
	padding-top: 10px;
	padding-left: 10px;
	width: 400px;
}

.products input {
	font-family: 'Open Sans', sans-serif;
	color: #2c5f5b;
	padding-top: 5px;
	padding-bottom: 5px;
	border: solid 3px;
	border-color: #2c5f5b;
	background: none;
	width: 100px;
	cursor: pointer;
	outline-width: 0px;
	outline: none;
}

.products input:hover {
	color: #000000;
	border-color: #000000;
	
}

.products select {
	font-family: 'Open Sans', sans-serif;
	color: #2c5f5b;
	width: 75px;
	height: 30px;
	border: solid 3px;
	border-color: #2c5f5b;
	background: none;
	cursor: pointer;
	outline-width: 0px;
	outline: none;
}

.featured-flavor img {
	padding-top: 10px;
	padding-left: 10px;
	width: 400px;
}

.featured-flavor h2 {
	padding-top: 40px;
}

.flavors p {
	padding-left: 50px;
}

.flavors h2 {
	padding-left: 50px;
}

.flavors .order-buttons {
	padding-left: 60px;
}

.review p {
	font-family: 'Open-sans', sans-serif;
	font-size: 18px;
	color: #DDC069;
	padding-top: 35px;
	font-weight: 500;
}

.order-buttons {
	padding-left: 15px;
	padding-top: 30px;
	padding-bottom: 40px;
}

.about {
	padding-bottom: 50px;
}

.about p {
	font-family: 'Open-sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #3e1d12;
}

.about img {
	padding-top: 30px;
}

.contact input {
	width: 400px;
	border: solid 3px;
	border-color: #2c5f5b;
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: 'Open-sans', sans-serif;
	font-weight: 600;
	color: #3e1d12;
	background: none;
	
}

textarea {
	border: solid 3px;
	border-color: #2c5f5b;
	width: 400px;
	height: 250px;
	padding-top: 5px;
	margin-top: 10px;
	font-family: 'Open-sans', sans-serif;
	font-weight: 600;
	color: #3e1d12;
	background: none;
}

.social-icons {
	padding-top: 110px;
}

.social-icons img {
	width: 50px;
	float: left;
}

.social-icons img:hover {
	opacity: .7;
}

.newsfeed {
	margin-top: 500px;
}

.media img {
	float:left;
  	padding: 1em;
	margin-right: 0.5em;
	display: block;
	width: 120px;
}

.info {
	overflow: hidden;
	padding: 0.5em;
}

.info p {
	font-family: 'open-sans', sans-serif;
	font-size: 12px;
}

footer li {
	list-style: none;
}

/*columns for grid*/
.column-1-12 {
  width: 8.33%
}

.column-2-12 {
  width: 16.66%
}

.column-3-12 {
  width: 25%
}

.column-4-12 {
  width: 33.33%
}

.column-5-12 {
  width: 41.66%
}

.column-6-12 {
  width: 50%
}

.column-7-12 {
  width: 58.33%
}

.column-8-12 {
  width: 66.66%
}

.column-9-12 {
  width: 75%
}

.column-10-12 {
  width: 83.33%
}

.column-11-12 {
  width: 91.66%
}

.column-12-12 {
  width: 100%
}

.offset-1-12 {
	margin-left:8.33%;
}

.offset-2-12 {
  margin-left: 16.66%;
}

/*end of columns for grid*/


/*helper classes*/

.clearfix {
	clear:both;
}

.left {
  float:left
}

.right {
  float:right;
}

.centered {
  float: none;
  margin: 0 auto;
}

/*end of helper classes*/





/*code used to change css for mobile site*/
@media only screen and (max-width: 700px) {
	[class*='column-']{
		/*used to span everything across the screen*/
		width: 100%;
	}
	[class*='offset-'] {
  margin-left:0;
  }
	
	.wrapper {
		/*used to center the mobile website*/
		max-width: 500px;
		margin: 0 auto;
	}
	
	.column-mobile{
		width: 50%;
	}
	
	nav {
		display: inline;
	}
	
	textarea {
		width: 100%;
	}
	
	.mobile-hidden {
		display: none;
	}
	
	.hero img {
		padding-left: 90px;
	}
	
	.products img {
		padding-left: 0;
	}
	
	.products input {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	
	.contact img {
		width: 20%;
	}
	
}
/* CSS Document */

